@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 17px;
  background-color: #fffff5;

}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fffff5;
}

*,
*::before,
*::after {
  /* border: 0.1px solid #a7a7a7; */
  box-sizing: inherit;
  font-family: 'Assistant', sans-serif;
  margin: 0;
  padding: 0;
  /* user-select: none; */
}

#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.App {
  padding: 1rem;
  width: 100%;
}

#flex-container {
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: unset;
}

#hi {
  text-align: center;
  width: 30%;
}

#details {
  max-height: 100%;
  width: 60%;
  transition: all 1.5s ease;
}

#projects {
  align-items: baseline;
  display: flex;
  justify-content: space-between;

}


#hello-sander {
  font-family: 'Lusitana';
  font-size: 2.7rem;
  margin: 0 0 1rem 0;
  transition: transform 0.5s ease;
}

#intro {
  margin-bottom: 1rem;
  text-align: center;
}

.project-name {
  font-size: 1.33rem;
  margin: 0.6rem 0;
}

li {
  display: inline-block;
  margin-right: 1em;
}

.proj,
#about,
#stack,
#links {
  padding: 0.6rem;
}

.proj img {
  width: 100%;
  border-radius: 0.6em;
}

.proj {
  max-width: 33%;
}

#stack {
  box-shadow: inset 0 0 10px 5px #fffff5;
  /* DO INSET BOX SHADOW */
}

#stack li {
  border: 0.1px solid #dcdcdc;
  border-radius: 0.6em;
  margin: 0.3em;
  padding: 0.4em 0.6em;
  font-size: 0.8rem;
  transition: transform 0.5s ease;
}


nav li:hover {
  cursor: pointer;

}

.selected {
  border-bottom: #393939 0.1px solid;
  padding-bottom: 0.3em;
  color: #181818;

}

/* #my-photo-wrapper {
  text-align: center;
} */

#my-photo {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 1em;
  transition: all 1.5s ease;
}

#my-photo:hover {
  cursor: pointer;
}


#links {
  font-size: 23px;
  text-align: center;
  margin: 0 auto;

}

.icon {
  opacity: 0.65;
}

.icon:hover {
  cursor: pointer;
  opacity: 1;
}

.svg-icon {
  transform: translateY(0.125em);
  width: 23px;
}

#email {
  font-size: 1rem;
  transform: translateY(-0.15em);
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }


}

@media (max-width: 800px) and (orientation: portrait) {

  .App {
    height: 100%;
    max-width: 700px;
  }

  #flex-container {
    margin-top: 1em;
    padding: 0.4rem;
    flex-direction: column;
  }

  #my-photo {
    width: 25vw;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
    transition: all 1.5s ease;
  }

  #hi {
    width: 100%;
    height: 100%;
  }

  #hello-sander {
    font-size: 10vw;
  }

  #intro {
    padding: 0 2em;
  }

  #details {
    width: 100%;
  }

  #projects {
    margin: 4vw 0 0 0;
    flex-direction: column;
  }

  #about {
    margin: 4vw 0 0 0;
    padding-left: 1em;
    padding-right: 1em;
  }


  #stack {
    margin-bottom: 2em;
    padding-bottom: 0;
  }

  .proj {
    padding: 1em;
    max-width: 100%;
  }

  #links {
    margin: 4vw 0;
    font-size: 4vw;
    padding: 0;
  }

  .svg-icon {
    width: 4vw;
  }


}


@media (max-width: 900px) and (orientation: landscape) {

  .App {
    height: 100%;
  }

  #flex-container {
    display: block;
  }

  #hi {
    top: 50%;
    transform: translateY(-50%);
    width: 48%;
    position: fixed;
  }

  #my-photo {
    width: 20vw;
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 1em;
    transition: all 1.5s ease;
  }

  #intro {
    padding: 0 2em;
  }

  #details {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
  }


  #projects {
    margin: 4vw 0 0 0;
    flex-direction: column;
  }

  .proj {
    padding: 1em;
    max-width: 100%;
  }

  #links {
    margin: 3vw 0;
    font-size: 3vw;
    padding: 0;
  }

  .svg-icon {
    width: 3vw;
  }

}